/**
 * Custom theme
 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@800&display=swap");
:root {
    --font-family: "Open Sans", sans-serif;
    --border-radius: 0;
    --form-element-spacing-vertical: 1rem;
    --form-element-spacing-horizontal: 1.25rem;
}

body {
    padding: 0 40px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    --font-family: "Raleway", sans-serif;
    --font-weight: 800;
}

h1 {
    --font-size: 2.5rem;
    --typography-spacing-vertical: 2.5rem;
}

h2 {
    --font-size: 2rem;
    --typography-spacing-vertical: 2rem;
}

h3 {
    --font-size: 1.75rem;
    --typography-spacing-vertical: 1.75rem;
}

h4 {
    --font-size: 1.5rem;
    --typography-spacing-vertical: 1.5rem;
}

h5 {
    --font-size: 1.25rem;
    --typography-spacing-vertical: 1.25rem;
}

button,
input[type=submit],
input[type=reset],
input[type=button],
a[role=button] {
    --font-weight: 600;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.grid-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.grid-item h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    margin: 0 0 0.5rem;
    color: #0e1a22;
}

.grid-item p {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    margin: 0 0 1rem;
    color: #0e1a22;
}
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 3em;
    height: 3em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}

.product-detail-image {
    background: white;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}